@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Блог "Современник"</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Здравствуйте! Тут пока ничего нет, но скоро будет.</h2>
</body>
</html>